<!-- DISTANCE PIPE -->
<!-- <p>{{ 2547 | distance }}</p>
<p>{{ '800' | distance }}</p> -->

<!-- FILE SIZE PIPE -->
<!-- <p>{{ 6.2 * 1024 * 1024 * 1024 * 1024 * 1024 | fileSize }}</p> -->

<!-- TEASER PIPE -->
<!-- <p>{{ 'Some text that is fine' | teaser: 10 }}</p>
<p>{{ 'Some text that is definitely too long' | teaser: 5 }}</p> -->

<!-- FILTER PIPE -->
<!-- <p>{{ [1, 2, 3, 4, 5] | filter:  criterion}}</p> -->

<!-- SORT PIPE -->
<!-- <p>{{  ['b', 'a', 'c'] | sort:  'asc' }}</p>
<p>{{  ['b', 'a', 'c'] | sort:  'desc' }}</p> -->

<!-- SEARCH PIPE -->
<p>{{  'Some text that is searchable' | search:  'earch' }}</p>
<p>{{  'Some awesome somewhat something well done' | search:  'some' }}</p>
<p>{{  'Some awesome somewhat something well done' | search:  'searchable' }}</p>
